on boot
    chmod 777 /dev/input

    # Allow to access WebView
    chmod 0755 /sys/kernel/debug
    chmod 0755 /sys/kernel/debug/tracing

on property:sys.boot_completed=1
    chmod 0777 /dev/input/wl_touch_events
    chmod 0777 /dev/input/wl_keyboard_events
    chmod 0777 /dev/input/wl_pointer_events

on post-fs-data
    mkdir /data/icons 0775 system system
